[server]
ip=10.10.10.68
user=administraotr
passwd=kes2719!
redis_ip=localhost
snmp_ip=121.170.193.194

[database]
ip=121.170.193.219
#ip=218.145.246.34
user=webuser
dbname=qweb
password=oHLkwF7K04mPtyuNeKjexg==
port = 5432

[common]
event_file = E:\Fleta\eventout.txt
event_method = smtp
#1: event_date yyyymmddss
#2: serial_number
#3: event_code
#4: event_level , vender event level
#5: q_event_level , hsrm event level
#6: device_type
#7: device_alias
#8: desc_summary
#[2022-09-26 00:00:53][Critical][SFP RX][N/A (JAF1542CERT)][Index:fc1/2,Slot:1,Port:2] SFP Rx Power 493.17uW [Port Speed:8, Threshold:500uW]
#[2022-09-30 00:02:25][Warning][SFP RX][N/A (1002ALJ5EM)][Index:4,Slot:N/A,Port:4] SFP Rx Power 461.2uW [Port Speed:8, Threshold:500uW], Linked Devices : [SVR] FLETA-ESXI1,FLETA-ESXI2  [STG] 200A0828B1A(N/A)
msg_format = [{1}][{5}][{6}][{7}({2})][{8}]

[log]
clear_day = 1

[smtp]
smtp_host = gmail.com
smtp_port = 587
smtp_user = godmuse01@gmail.com
smtp_passwd = kajqwzxfrqowdwot
target_user = muse@fletacom.com;hsyoo@fletacom.com
smtp_method = tsl
#method tsl default port:587  / ssl default port :465
smtp_title = HSRM Event Message